
.flex{
    display: flex;
    flex-wrap: wrap;
}
.container {
    max-width: 2000px;
    padding: 0px;
    margin: 0%;
}
.cor{
    background-color: rgb(156, 156, 156);
}
.linha{
    color: rgb(206, 253, 136);
    border-top: 15px solid;
}
body{
    margin: auto;
    padding: auto%;
}
.bot{
    display: inline-block;
    align-items: center;
    padding: 5px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px;

    border-color: antiquewhite;
    border: 1px solid firebrick;
    gap: auto;
}